In [138]:
import pandas as pd
import numpy as numpy
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
df = pd.read_csv('merge.csv')

In [64]:
df.head(3)

   entity code  year  population  total_cases  total_deaths       gdp_val
0  Angola  AGO  2000    16394067     79129.56          0.26  9.129595e+09
1  Angola  AGO  2001    16941584     84224.45          0.25  8.936079e+09
2  Angola  AGO  2002    17516140     91116.25          0.26  1.528559e+10

In [65]:
df2 = df.pivot_table(['gdp_val','total_cases','total_deaths'],['entity'],'year').reset_index()
df2.columns = [ '_'.join([str(c) for c in c_list]) for c_list in df2.columns.values ]
df2.head()

,entity_,gdp_val_2000,gdp_val_2001,gdp_val_2002,gdp_val_2003,gdp_val_2004,gdp_val_2005,gdp_val_2006,gdp_val_2007,gdp_val_2008,gdp_val_2009,gdp_val_2010,gdp_val_2011,gdp_val_2012,gdp_val_2013,gdp_val_2014,gdp_val_2015,gdp_val_2016,gdp_val_2017,gdp_val_2018,gdp_val_2019,total_cases_2000,total_cases_2001,total_cases_2002,total_cases_2003,total_cases_2004,total_cases_2005,total_cases_2006,total_cases_2007,total_cases_2008,total_cases_2009,total_cases_2010,total_cases_2011,total_cases_2012,total_cases_2013,total_cases_2014,total_cases_2015,total_cases_2016,total_cases_2017,total_cases_2018,total_cases_2019,total_deaths_2000,total_deaths_2001,total_deaths_2002,total_deaths_2003,total_deaths_2004,total_deaths_2005,total_deaths_2006,total_deaths_2007,total_deaths_2008,total_deaths_2009,total_deaths_2010,total_deaths_2011,total_deaths_2012,total_deaths_2013,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019
0,Albania,3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,1.067732e+10,1.288135e+10,1.204421e+10,1.192693e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,0.0000,0.00000,0.000,0.0000,0.0000,0.00000,0.00000,0.0000,0.0000,0.00000,0.0000,0.0000,0.0000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.0000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Algeria,5.479040e+10,5.474470e+10,5.676036e+10,6.786385e+10,8.533258e+10,1.030000e+11,1.170000e+11,1.350000e+11,1.710000e+11,1.370000e+11,1.610000e+11,2.000000e+11,2.090000e+11,2.100000e+11,2.140000e+11,1.660000e+11,1.600000e+11,1.700000e+11,1.750000e+11,1.720000e+11,0.0000,0.00000,0.000,0.0000,0.0000,0.00000,0.00000,0.0000,0.0000,0.00000,0.0000,0.0000,0.0000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.0000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Angola,9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,6.526642e+10,8.853866e+10,7.030720e+10,8.379947e+10,1.120000e+11,1.280000e+11,1.320000e+11,1.360000e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,79129.5600,84224.45000,91116.250,99469.0900,108867.8500,118844.94500,134851.95000,159657.6400,188093.0000,214078.11000,230552.5500,226614.3400,202758.5500,169478.02000,139141.50000,126153.73000,127687.0500,130455.5300,134058.16000,138154.6700,0.26,0.25,0.26,0.28,0.28,0.28,0.28,0.28,0.28,0.27,0.28,0.27,0.28,0.27,0.26,0.28,0.27,0.28,0.28,0.29
3,Antigua and Barbuda,8.263704e+08,8.004815e+08,8.143815e+08,8.563963e+08,9.197296e+08,1.022963e+09,1.157663e+09,1.312759e+09,1.370070e+09,1.228330e+09,1.148700e+09,1.281337e+09,1.327107e+09,1.325426e+09,1.378830e+09,1.437756e+09,1.489693e+09,1.531152e+09,1.661530e+09,1.725352e+09,810.6743,828.63403,840.360,848.3018,855.1744,863.93646,879.65643,901.7845,925.1843,944.88116,955.3486,943.5013,906.7294,854.95667,798.26935,746.96606,677.5578,622.1928,607.77325,601.7845,0.01,0.00,0.00,0.01,0.01,0.03,0.02,0.02,0.41,0.53,0.22,0.19,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00
4,Argentina,2.840000e+11,2.690000e+11,9.772400e+10,1.280000e+11,1.650000e+11,1.990000e+11,2.330000e+11,2.880000e+11,3.620000e+11,3.330000e+11,4.240000e+11,5.300000e+11,5.460000e+11,5.520000e+11,5.260000e+11,5.950000e+11,5.580000e+11,6.440000e+11,5.250000e+11,4.480000e+11,83984.0550,85414.00000,87472.055,89804.9140,92051.6640,93742.93000,94971.18000,96236.4840,97622.7200,99129.41000,100703.5900,103472.7000,107894.2200,112904.98400,117354.44500,120016.93000,117907.8300,114559.8500,113260.41400,111964.4800,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11.94,0.00,2.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Tables
- GDP
- GDP growth
- Cases
- Deaths

### GDP & Growth

In [87]:
#First col is 0 because theres nothing to comapre it to
gdp = df2.iloc[:,:21]
gdp_growth = gdp.iloc[:,1:21].pct_change(periods=1, axis=1).round(2)*100
gdp_growth2 = gdp[['entity_']].join(gdp_growth)
gdp_growth2.fillna(0, inplace=True)
gdp_growth2.head()

,entity_,gdp_val_2000,gdp_val_2001,gdp_val_2002,gdp_val_2003,gdp_val_2004,gdp_val_2005,gdp_val_2006,gdp_val_2007,gdp_val_2008,gdp_val_2009,gdp_val_2010,gdp_val_2011,gdp_val_2012,gdp_val_2013,gdp_val_2014,gdp_val_2015,gdp_val_2016,gdp_val_2017,gdp_val_2018,gdp_val_2019
0,Albania,0.0,13.0,11.0,29.0,28.0,12.0,10.0,20.0,21.0,-6.0,-1.0,8.0,-4.0,4.0,4.0,-14.0,4.0,10.0,16.0,2.0
1,Algeria,0.0,-0.0,4.0,20.0,26.0,21.0,14.0,15.0,27.0,-20.0,18.0,24.0,4.0,0.0,2.0,-22.0,-4.0,6.0,3.0,-2.0
2,Angola,0.0,-2.0,71.0,17.0,32.0,57.0,42.0,25.0,36.0,-21.0,19.0,34.0,14.0,3.0,3.0,-33.0,-42.0,40.0,8.0,-11.0
3,Antigua and Barbuda,0.0,-3.0,2.0,5.0,7.0,11.0,13.0,13.0,4.0,-10.0,-6.0,12.0,4.0,-0.0,4.0,4.0,4.0,3.0,9.0,4.0
4,Argentina,0.0,-5.0,-64.0,31.0,29.0,21.0,17.0,24.0,26.0,-8.0,27.0,25.0,3.0,1.0,-5.0,13.0,-6.0,15.0,-18.0,-15.0

#### I needed the below for tableau.

In [85]:
gdp_growth3 = pd.melt(gdp_growth2, id_vars=['entity_'],var_name=['year']).sort_values(by='entity_').reset_index()
gdp_growth3['year'] = gdp_growth3['year'].str[8:]
gdp_growth3.drop(columns=['index'], inplace= True)
gdp_growth3

       entity_  year  value
0      Albania  2000   0.00
1      Albania  2017   0.10
2      Albania  2016   0.04
3      Albania  2001   0.13
4      Albania  2005   0.12
...        ...   ...    ...
3075  Zimbabwe  2014   0.02
3076  Zimbabwe  2015   0.02
3077  Zimbabwe  2016   0.03
3078  Zimbabwe  2008  -0.17
3079  Zimbabwe  2019  -0.36

[3080 rows x 3 columns]

In [86]:
gdp_growth3.to_csv('gdp_growth2.csv')

### Cases & Deaths

#### Cases

In [121]:
cases = df2[['entity_']].join(df2.iloc[:,21:41])
cases.head(3)

,entity_,total_cases_2000,total_cases_2001,total_cases_2002,total_cases_2003,total_cases_2004,total_cases_2005,total_cases_2006,total_cases_2007,total_cases_2008,total_cases_2009,total_cases_2010,total_cases_2011,total_cases_2012,total_cases_2013,total_cases_2014,total_cases_2015,total_cases_2016,total_cases_2017,total_cases_2018,total_cases_2019
0,Albania,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
1,Algeria,0.00,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
2,Angola,79129.56,84224.45,91116.25,99469.09,108867.85,118844.945,134851.95,159657.64,188093.0,214078.11,230552.55,226614.34,202758.55,169478.02,139141.5,126153.73,127687.05,130455.53,134058.16,138154.67

In [154]:
cases[['entity_']].join(cases.iloc[:,1:].agg(['mean','min','median','max'],axis=1)).sort_values(by='mean', ascending=False).reset_index()

,index,entity_,mean,min,median,max
0,65,India,2.510062e+07,2.089530e+07,2.569487e+07,2.799197e+07
1,30,China,4.288516e+06,2.445950e+06,4.439839e+06,6.316552e+06
2,20,Brazil,2.836342e+06,2.083587e+06,2.971985e+06,3.177940e+06
3,66,Indonesia,2.466980e+06,2.073602e+06,2.483560e+06,2.686210e+06
4,10,Bangladesh,1.345396e+06,1.040057e+06,1.444896e+06,1.496274e+06
5,110,Pakistan,1.294873e+06,9.313458e+05,1.376847e+06,1.532034e+06
6,106,Nigeria,1.282471e+06,9.768862e+05,1.308401e+06,1.479199e+06
7,115,Philippines,1.175005e+06,5.970084e+05,1.267332e+06,1.832712e+06
8,138,Thailand,6.602548e+05,5.904332e+05,6.708417e+05,7.025291e+05
9,93,Mexico,6.062778e+05,4.646091e+05,5.660893e+05,7.899021e+05
10,31,Colombia,4.467657e+05,3.104210e+05,4.273530e+05,6.030133e+05
11,99,Myanmar,4.044926e+05,3.054893e+05,4.035269e+05,4.741146e+05
12,87,Malaysia,3.698935e+05,2.518372e+05,3.552571e+05,4.783011e+05
13,47,Ethiopia,3.022098e+05,2.434417e+05,3.100444e+05,3.395101e+05
14,137,Tanzania,2.203952e+05,1.785810e+05,2.242250e+05,2.374776e+05
15,101,Nepal,2.169110e+05,1.687163e+05,2.305880e+05,2.381092e+05
16,131,Sri Lanka,2.125283e+05,1.417551e+05,2.207363e+05,2.852588e+05
17,54,Ghana,2.035132e+05,1.602173e+05,2.053695e+05,2.330691e+05
18,24,Cambodia,1.760563e+05,1.244403e+05,1.827649e+05,1.959300e+05
19,114,Peru,1.725759e+05,1.215536e+05,1.662175e+05,2.590213e+05
20,34,Cote d'Ivoire,1.651121e+05,1.360619e+05,1.646487e+05,1.862995e+05
21,75,Kenya,1.544665e+05,1.225739e+05,1.524118e+05,1.952642e+05
22,144,Uganda,1.537888e+05,1.204744e+05,1.572382e+05,1.682186e+05
23,62,Honduras,1.523216e+05,1.142821e+05,1.357174e+05,2.125218e+05
24,25,Cameroon,1.481066e+05,1.050389e+05,1.577894e+05,1.699243e+05
25,2,Angola,1.451693e+05,7.912956e+04,1.344551e+05,2.305525e+05
26,112,Papua New Guinea,1.393857e+05,7.101368e+04,1.001457e+05,2.880368e+05
27,98,Mozambique,1.346596e+05,1.082475e+05,1.377566e+05,1.483766e+05
28,132,Sudan,1.227798e+05,9.632761e+04,1.251797e+05,1.432595e+05
29,57,Guatemala,1.154719e+05,8.972888e+04,1.203286e+05,1.380422e+05
30,22,Burkina Faso,1.069873e+05,8.123741e+04,1.116681e+05,1.221044e+05
31,42,Ecuador,1.057802e+05,7.786238e+04,1.080900e+05,1.236193e+05
32,4,Argentina,1.020234e+05,8.398405e+04,9.991650e+04,1.200169e+05
33,17,Bolivia,1.009496e+05,3.298491e+04,1.136914e+05,1.406492e+05
34,89,Mali,9.796796e+04,7.088438e+04,1.048609e+05,1.112616e+05
35,85,Madagascar,9.465262e+04,7.576576e+04,9.700636e+04,1.026602e+05
36,41,Dominican Republic,9.464919e+04,7.777359e+04,9.362408e+04,1.108551e+05
37,61,Haiti,9.286383e+04,8.270107e+04,9.331641e+04,1.032862e+05
38,43,El Salvador,8.939453e+04,5.055471e+04,7.974358e+04,1.804469e+05
39,105,Niger,8.781891e+04,6.164240e+04,9.511915e+04,1.008328e+05
40,36,Cuba,8.444744e+04,7.066567e+04,8.756559e+04,9.473384e+04
41,122,Saudi Arabia,8.243234e+04,5.556673e+04,8.744651e+04,1.049576e+05
42,113,Paraguay,8.185149e+04,4.838069e+04,8.056798e+04,1.192939e+05
43,123,Senegal,7.949183e+04,6.537764e+04,7.962487e+04,8.973959e+04
44,58,Guinea,7.514972e+04,6.189096e+04,7.629560e+04,8.380649e+04
45,15,Benin,7.163820e+04,5.327850e+04,7.549667e+04,8.177290e+04
46,33,Costa Rica,6.511773e+04,3.929419e+04,7.030270e+04,8.298334e+04
47,28,Chad,6.454517e+04,4.710427e+04,6.968343e+04,7.313448e+04
48,86,Malawi,6.333068e+04,5.169130e+04,6.467925e+04,7.011748e+04
49,104,Nicaragua,6.258250e+04,3.430377e+04,5.955319e+04,1.065599e+05
50,152,Zambia,6.197858e+04,4.667325e+04,6.361762e+04,7.330120e+04
51,153,Zimbabwe,4.949529e+04,3.799971e+04,4.385886e+04,7.339070e+04
52,6,Australia,4.872577e+04,4.129047e+04,4.938030e+04,5.537108e+04
53,139,Togo,4.790147e+04,3.789299e+04,4.874943e+04,5.380164e+04
54,126,Sierra Leone,4.695078e+04,3.371036e+04,4.939186e+04,5.314699e+04
55,27,Central African Republic,3.529749e+04,2.397715e+04,3.065592e+04,5.523433e+04
56,120,Rwanda,3.335101e+04,2.626768e+04,3.423899e+04,3.657116e+04
57,111,Panama,3.309664e+04,2.342908e+04,3.393578e+04,4.006671e+04
58,23,Burundi,3.071829e+04,2.265182e+04,3.179795e+04,3.609646e+04
59,81,Liberia,2.927067e+04,2.269506e+04,2.968007e+04,3.493736e+04
60,71,Jamaica,2.333724e+04,2.108139e+04,2.254029e+04,2.988208e+04
61,148,United States,2.301597e+04,1.309883e+04,2.394452e+04,3.582926e+04
62,48,Fiji,2.144047e+04,1.273903e+04,1.655731e+04,3.722341e+04
63,141,Trinidad and Tobago,1.812488e+04,1.344144e+04,1.789440e+04,2.107462e+04
64,73,Jordan,1.797846e+04,1.078901e+04,2.022191e+04,2.455147e+04
65,109,Oman,1.793547e+04,1.259577e+04,1.952632e+04,2.345789e+04
66,51,Gabon,1.778506e+04,1.118271e+04,1.478993e+04,3.057509e+04
67,91,Mauritania,1.644960e+04,1.341771e+04,1.639651e+04,1.890821e+04
68,92,Mauritius,1.506889e+04,1.222405e+04,1.546987e+04,1.658672e+04
69,79,Lebanon,1.461891e+04,1.172109e+04,1.465877e+04,1.758621e+04
70,128,Solomon Islands,1.317660e+04,6.290370e+03,9.227862e+03,2.559109e+04
71,77,Kuwait,1.238437e+04,7.588954e+03,1.349303e+04,1.643514e+04
72,44,Equatorial Guinea,1.067576e+04,4.941139e+03,8.996199e+03,1.872548e+04
73,59,Guinea-Bissau,1.065685e+04,8.866800e+03,1.069002e+04,1.192064e+04
74,60,Guyana,9.612303e+03,8.212772e+03,9.303413e+03,1.158797e+04
75,133,Suriname,8.231922e+03,5.831129e+03,7.848252e+03,1.034874e+04
76,14,Belize,7.816779e+03,3.009680e+03,8.268644e+03,1.246150e+04
77,40,Djibouti,6.759289e+03,4.975233e+03,6.963601e+03,7.655083e+03
78,76,Kiribati,6.753340e+03,4.802556e+03,6.275931e+03,9.714598e+03
79,151,Vanuatu,5.680092e+03,3.124572e+03,3.946851e+03,1.118767e+04
80,121,Samoa,5.413189e+03,2.799907e+03,4.307459e+03,9.819387e+03
81,11,Barbados,4.756536e+03,3.479627e+03,4.130825e+03,6.595209e+03
82,32,Comoros,4.540961e+03,4.037750e+03,4.504999e+03,5.036356e+03
83,16,Bhutan,4.280028e+03,3.330567e+03,4.436495e+03,4.871703e+03
84,88,Maldives,3.945413e+03,3.025121e+03,4.012146e+03,4.587738e+03
85,140,Tonga,2.756782e+03,2.386826e+03,2.696033e+03,3.284199e+03
86,125,Seychelles,2.669983e+03,4.709226e+02,9.273084e+02,8.325005e+03
87,56,Grenada,1.540487e+03,1.394485e+03,1.596826e+03,1.638965e+03
88,3,Antigua and Barbuda,8.206834e+02,6.017845e+02,8.516292e+02,9.553486e+02
89,124,Serbia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
90,19,Botswana,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
91,21,Bulgaria,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
92,26,Canada,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
93,18,Bosnia and Herzegovina,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
94,119,Romania,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
95,127,Slovenia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
96,129,South Africa,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
97,130,Spain,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
98,72,Japan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
99,12,Belarus,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
100,13,Belgium,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
101,7,Austria,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
102,150,Uzbekistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
103,149,Uruguay,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
104,5,Armenia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
105,147,United Kingdom,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
106,146,United Arab Emirates,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
107,145,Ukraine,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
108,143,Turkmenistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
109,134,Sweden,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
110,142,Tunisia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
111,8,Azerbaijan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
112,9,Bahrain,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
113,117,Portugal,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
114,136,Tajikistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
115,135,Switzerland,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
116,118,Qatar,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
117,35,Croatia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
118,116,Poland,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
119,29,Chile,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
120,53,Germany,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
121,55,Greece,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
122,90,Malta,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
123,63,Hungary,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
124,64,Iceland,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
125,84,Luxembourg,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
126,83,Lithuania,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
127,82,Libya,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
128,67,Iraq,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
129,80,Lesotho,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
130,68,Ireland,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
131,78,Latvia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
132,1,Algeria,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
133,69,Israel,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
134,74,Kazakhstan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
135,94,Moldova,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
136,95,Mongolia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
137,96,Montenegro,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
138,45,Estonia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
139,70,Italy,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
140,37,Cyprus,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
141,38,Czechia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
142,39,Denmark,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
143,108,Norway,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
144,107,North Macedonia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
145,46,Eswatini,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
146,97,Morocco,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
147,103,New Zealand,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
148,102,Netherlands,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
149,49,Finland,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
150,100,Namibia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
151,50,France,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
152,52,Georgia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
153,0,Albania,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

#### Deaths

In [122]:
deaths = df2[['entity_']].join(df2.iloc[:,41:])
deaths.head(3)

,entity_,total_deaths_2000,total_deaths_2001,total_deaths_2002,total_deaths_2003,total_deaths_2004,total_deaths_2005,total_deaths_2006,total_deaths_2007,total_deaths_2008,total_deaths_2009,total_deaths_2010,total_deaths_2011,total_deaths_2012,total_deaths_2013,total_deaths_2014,total_deaths_2015,total_deaths_2016,total_deaths_2017,total_deaths_2018,total_deaths_2019
0,Albania,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Algeria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Angola,0.26,0.25,0.26,0.28,0.28,0.28,0.28,0.28,0.28,0.27,0.28,0.27,0.28,0.27,0.26,0.28,0.27,0.28,0.28,0.29

In [155]:
deaths[['entity_']].join(deaths.iloc[:,1:].agg(['mean','min','median','max'],axis=1)).sort_values(by='mean', ascending=False).reset_index()

     index                   entity_        mean      min     median       max
0       65                     India  12685.3455  8900.22  12153.425  17545.72
1       66                 Indonesia   7716.3695  7164.28   7645.945   9110.43
2      110                  Pakistan   1037.3100   591.30   1034.565   1445.82
3      115               Philippines    938.4535   427.35    967.890   1464.62
4       99                   Myanmar    417.7810   271.71    416.935    549.98
5       20                    Brazil    296.9910    13.73    163.410    986.97
6       87                  Malaysia    214.0815   166.24    196.055    393.36
7      138                  Thailand    184.6870   164.35    183.300    217.24
8      131                 Sri Lanka    167.2090    63.69    137.770    417.27
9       31                  Colombia    137.6960    35.25    126.850    233.13
10     101                     Nepal     81.6055    45.45     84.550    119.73
11      24                  Cambodia     67.7775    52.09     56.875    234.07
12      57                 Guatemala     56.2345    14.63     32.675    214.52
13      10                Bangladesh     54.8660    34.33     49.820    160.62
14      62                  Honduras     53.2995    24.86     49.105    120.22
15      93                    Mexico     49.1685     0.55     31.040    182.70
16     113                  Paraguay     44.8870     0.02      4.835    456.68
17     128           Solomon Islands     34.9585    27.45     36.670     41.45
18      41        Dominican Republic     19.6865     4.71     18.370     49.64
19      42                   Ecuador     16.4610     7.90     15.115     28.86
20      61                     Haiti     14.3475     9.98     14.665     19.23
21      30                     China     13.8750    10.88     12.840     18.25
22      47                  Ethiopia     11.2685     1.81     11.175     21.46
23     109                      Oman     10.6870     7.53      9.990     15.69
24      86                    Malawi      9.5575     7.68      9.730     10.72
25     104                 Nicaragua      8.9350     0.17      7.035     25.94
26      43               El Salvador      7.6555     1.21      6.365     29.23
27      88                  Maldives      7.2290     5.92      6.765     11.00
28     122              Saudi Arabia      6.6340     0.82      8.695     11.49
29     141       Trinidad and Tobago      6.2890     2.44      6.415     10.94
30      17                   Bolivia      5.7595     1.89      3.870     24.97
31     112          Papua New Guinea      5.6355     4.64      5.630      6.42
32     133                  Suriname      5.4030     3.40      5.560      7.05
33     114                      Peru      4.0665     1.19      3.285     14.94
34      48                      Fiji      3.1070     2.30      3.015      4.17
35     111                    Panama      2.9005     0.01      1.935     12.19
36     140                     Tonga      2.8490     2.49      2.785      3.27
37      16                    Bhutan      2.6400     1.74      2.610      3.32
38      60                    Guyana      2.2085     0.53      1.810      6.50
39      36                      Cuba      1.5290     0.00      0.010     22.28
40      71                   Jamaica      1.5260     0.02      0.380     17.35
41     106                   Nigeria      1.3825     0.96      1.380      1.73
42      11                  Barbados      1.2950     0.05      1.300      2.77
43      33                Costa Rica      1.2795     0.06      1.105      4.18
44      21                  Bulgaria      1.2285     0.00      1.050      5.17
45      22              Burkina Faso      1.1490     0.10      0.110     20.57
46     137                  Tanzania      1.1420     0.56      1.140      1.82
47     148             United States      1.0700     0.10      0.210      3.21
48     152                    Zambia      0.7990     0.61      0.780      1.05
49     144                    Uganda      0.7660     0.31      0.790      1.17
50       4                 Argentina      0.7060     0.00      0.000     11.94
51      98                Mozambique      0.5000     0.20      0.515      0.88
52       6                 Australia      0.4420     0.00      0.000      2.88
53      34             Cote d'Ivoire      0.3985     0.14      0.185      4.29
54      14                    Belize      0.3245     0.13      0.325      0.64
55      85                Madagascar      0.3130     0.13      0.330      0.45
56      76                  Kiribati      0.3095     0.25      0.265      0.47
57      23                   Burundi      0.2925     0.11      0.290      0.47
58      50                    France      0.2860     0.00      0.000      1.24
59     120                    Rwanda      0.2795     0.19      0.290      0.32
60       2                    Angola      0.2740     0.25      0.280      0.29
61      25                  Cameroon      0.2345     0.17      0.250      0.28
62      26                    Canada      0.2335     0.00      0.000      2.00
63     108                    Norway      0.2100     0.00      0.000      1.13
64     105                     Niger      0.1715     0.14      0.160      0.21
65     147            United Kingdom      0.1550     0.00      0.000      1.05
66     151                   Vanuatu      0.1545     0.13      0.155      0.19
67     153                  Zimbabwe      0.1545     0.10      0.175      0.21
68     132                     Sudan      0.1540     0.14      0.150      0.17
69      54                     Ghana      0.1400     0.08      0.150      0.17
70     121                     Samoa      0.1395     0.13      0.140      0.17
71     125                Seychelles      0.1375     0.12      0.140      0.15
72      89                      Mali      0.1105     0.08      0.120      0.13
73     102               Netherlands      0.1085     0.00      0.000      1.09
74      15                     Benin      0.1085     0.08      0.105      0.14
75      28                      Chad      0.1070     0.07      0.110      0.13
76     134                    Sweden      0.1035     0.00      0.000      1.04
77       7                   Austria      0.1035     0.00      0.000      1.04
78     136                Tajikistan      0.0945     0.08      0.090      0.11
79     123                   Senegal      0.0835     0.07      0.080      0.09
80      58                    Guinea      0.0820     0.06      0.080      0.10
81      75                     Kenya      0.0750     0.06      0.075      0.10
82       3       Antigua and Barbuda      0.0735     0.00      0.010      0.53
83     143              Turkmenistan      0.0675     0.06      0.070      0.08
84      80                   Lesotho      0.0650     0.03      0.065      0.11
85     126              Sierra Leone      0.0615     0.05      0.060      0.07
86      70                     Italy      0.0570     0.00      0.000      1.14
87     149                   Uruguay      0.0545     0.00      0.000      1.09
88      49                   Finland      0.0545     0.00      0.000      1.09
89     103               New Zealand      0.0535     0.00      0.000      1.07
90     118                     Qatar      0.0515     0.02      0.055      0.09
91      92                 Mauritius      0.0505     0.00      0.000      1.01
92      72                     Japan      0.0505     0.00      0.000      1.01
93      53                   Germany      0.0485     0.00      0.000      0.97
94     139                      Togo      0.0460     0.04      0.050      0.05
95     150                Uzbekistan      0.0370     0.03      0.040      0.04
96      46                  Eswatini      0.0360     0.02      0.030      0.05
97      27  Central African Republic      0.0360     0.03      0.040      0.04
98      40                  Djibouti      0.0245     0.01      0.025      0.04
99      79                   Lebanon      0.0220     0.02      0.020      0.03
100     32                   Comoros      0.0215     0.01      0.020      0.03
101     81                   Liberia      0.0210     0.02      0.020      0.03
102     91                Mauritania      0.0140     0.01      0.010      0.02
103     77                    Kuwait      0.0135     0.00      0.010      0.03
104     59             Guinea-Bissau      0.0100     0.01      0.010      0.01
105     51                     Gabon      0.0100     0.01      0.010      0.01
106     44         Equatorial Guinea      0.0100     0.01      0.010      0.01
107     73                    Jordan      0.0100     0.01      0.010      0.01
108      9                   Bahrain      0.0080     0.00      0.010      0.01
109     56                   Grenada      0.0035     0.00      0.000      0.01
110     37                    Cyprus      0.0000     0.00      0.000      0.00
111     55                    Greece      0.0000     0.00      0.000      0.00
112     52                   Georgia      0.0000     0.00      0.000      0.00
113    135               Switzerland      0.0000     0.00      0.000      0.00
114     45                   Estonia      0.0000     0.00      0.000      0.00
115     39                   Denmark      0.0000     0.00      0.000      0.00
116     38                   Czechia      0.0000     0.00      0.000      0.00
117    100                   Namibia      0.0000     0.00      0.000      0.00
118    130                     Spain      0.0000     0.00      0.000      0.00
119    142                   Tunisia      0.0000     0.00      0.000      0.00
120     29                     Chile      0.0000     0.00      0.000      0.00
121     19                  Botswana      0.0000     0.00      0.000      0.00
122    145                   Ukraine      0.0000     0.00      0.000      0.00
123    146      United Arab Emirates      0.0000     0.00      0.000      0.00
124     18    Bosnia and Herzegovina      0.0000     0.00      0.000      0.00
125     13                   Belgium      0.0000     0.00      0.000      0.00
126     12                   Belarus      0.0000     0.00      0.000      0.00
127      8                Azerbaijan      0.0000     0.00      0.000      0.00
128      5                   Armenia      0.0000     0.00      0.000      0.00
129     35                   Croatia      0.0000     0.00      0.000      0.00
130    129              South Africa      0.0000     0.00      0.000      0.00
131     97                   Morocco      0.0000     0.00      0.000      0.00
132      1                   Algeria      0.0000     0.00      0.000      0.00
133     96                Montenegro      0.0000     0.00      0.000      0.00
134    107           North Macedonia      0.0000     0.00      0.000      0.00
135     95                  Mongolia      0.0000     0.00      0.000      0.00
136     94                   Moldova      0.0000     0.00      0.000      0.00
137     90                     Malta      0.0000     0.00      0.000      0.00
138     84                Luxembourg      0.0000     0.00      0.000      0.00
139     83                 Lithuania      0.0000     0.00      0.000      0.00
140     82                     Libya      0.0000     0.00      0.000      0.00
141     78                    Latvia      0.0000     0.00      0.000      0.00
142    116                    Poland      0.0000     0.00      0.000      0.00
143    127                  Slovenia      0.0000     0.00      0.000      0.00
144    117                  Portugal      0.0000     0.00      0.000      0.00
145     74                Kazakhstan      0.0000     0.00      0.000      0.00
146    119                   Romania      0.0000     0.00      0.000      0.00
147     69                    Israel      0.0000     0.00      0.000      0.00
148     68                   Ireland      0.0000     0.00      0.000      0.00
149     67                      Iraq      0.0000     0.00      0.000      0.00
150    124                    Serbia      0.0000     0.00      0.000      0.00
151     64                   Iceland      0.0000     0.00      0.000      0.00
152     63                   Hungary      0.0000     0.00      0.000      0.00
153      0                   Albania      0.0000     0.00      0.000      0.00